 
/*BASIC STYLES*/
body {
    color: $main-color;
    font-family: $standard-font;
    font-size: $standard-size;
    background-image: url($main-background);
    
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center center;
}

.dotted-line {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.dotted-line:after {
    content: "..........................................................................................................";
    letter-spacing: 6px;
    font-size: 30px;
    color: #9cbfdb;
    display: inline-block;
    vertical-align: 3px;
    padding-left: 10px;
}