.btn-brand {
    color: $white-colour!important;
    background-color: $btn-Brand !important;
}

btn-info {
    color: #fff;
    background-color: $brand-navigation-bg-colour;
    border-color: $brand-navigation-bg-colour;
}
